In [1]:
# Pandas: Open-Source Data manipulation and analysis library, High-performance, easy-to-use Datastructures
# It is used to work on Structured Data in python.

In [2]:
'''
Datastructures -> Series, DataFrame, Panel

2 MAJOR TYPES OF DATASTRUCTURES ON PANDAS:
Series    ---> It is a one-dimensional ndarray with axis lables.
Dataframe ---> It is a two-dimensional heterogeneous tabular data with data as rows and columns.
'''

'\nDatastructures -> Series, DataFrame, Panel\n\n2 MAJOR TYPES OF DATASTRUCTURES ON PANDAS:\nSeries    ---> It is a one-dimensional ndarray with axis lables.\nDataframe ---> It is a two-dimensional heterogeneous tabular data with data as rows and columns.\n'

In [ ]:
# Importing Pandas library
import pandas as pd

In [ ]:
# Creating a list
l = [10,20,100,90,76,54,32]

In [ ]:
# Creating a Pandas Series
s1 = pd.Series(l)

In [ ]:
# It prints the One-dimensional labelled array

# NOTE: It is a One-Dimensional Array

s1

In [ ]:
# Checking the Dimension of s1 array
s1.ndim

In [ ]:
s2 = pd.Series([200,30,453,1000],index=["East","West","North","South"])

In [ ]:
# It prints the One-dimensional labelled array

# NOTE: It is still a One-Dimensional Array

s2

In [ ]:
# Checking the Dimension of s2 array
s2.ndim

In [ ]:
# NOTE: Pandas is built on top of NumPy

In [ ]:
# Fetching the data by using index value -> s2["North"] 
s2["North"]

In [ ]:
# Fetching the data by using position -> s2[2]
s2[2]

In [ ]:
# Creating a Series with Duplicated Index values (d)
s3 = pd.Series(l,index=['a','b','c','d','d','e','f'])

In [ ]:
s3

In [ ]:
# Fetching the data with index value='d'
s3['d']

In [ ]:
# Creating Panda Series from Dictionary ---> All the keys will become Index and all the values will become Pairs.
data = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}

In [ ]:
s4 = pd.Series(data)

In [ ]:
s4

In [ ]:
# Choosing specific Index from Dictionary
s5 = pd.Series(data,index=['a','b'])

In [ ]:
s5

In [ ]:
# Providing a specific Index that is not present in the Dictionary
s6 = pd.Series(data,index=['a','b','f'])

In [ ]:
s6

In [ ]:
# PANDAS SERIES

In [ ]:
# STEP 1: IMPORT PANDAS LIBRARY AND CREATE A SERIES
import pandas as pd

In [ ]:
# Creating a series
s = pd.Series([x for x in range (1,11)])

In [ ]:
s

In [ ]:
# STEP 2: ACCESS ELEMENTS USING .iloc AND .iat METHODS.
'''
iloc - Integer Location-based Indexing - Used for picking up MULTIPLE ELEMENTS from Dataframe
iat  -                                 - Used for picking up SINGLE ELEMENTS from Dataframe (Scalar)
'''
# NOTE: .iloc and .iat gives the SAME Result.

In [ ]:
# iloc - Accessing the 5th and 0th elements using .iloc method.
s.iloc[5]

In [ ]:
s.iloc[0]

In [ ]:
# iat - Accessing the 0th and 8th elements using .iat method.
s.iat[0]

In [ ]:
s.iat[8]

In [ ]:
# STEP 3: SLICE THE SERIES

# NOTE: Here, the .iat won't work because it can only bring SINGLE ELEMENT.

# Slicing a Series using the index range 5 to 9:
s[5:9]

In [ ]:
s.iloc[5:9]

In [ ]:
# s.iat[5:9]   # NOTE: Here, the .iat won't work because it is only for returning SINGLE ELEMENT.

In [ ]:
# Negative Indices can also be used. This will slice the Series from back to front.

In [ ]:
s[-4:-1]

In [ ]:
x = pd.Series([12, 43, 44], index=["A", "B", "C"])

In [ ]:
x.loc["A"]   #NOTE: .loc is used to specify the index value, it is mandatory to use on Dataframe.

In [ ]:
# STEP 4: USE THE .where() METHOD

'''
If the condition is met, then it writes the value
If the condition is not met, then it writes NaN
'''

x

In [ ]:
x.where(x%2==0)

In [ ]:
x.where(x%2==0).dropna()      # Drops the NaN value and displays the rest.

In [ ]:
x.where(x%2==0,'Odd Number')  # Writes 'Odd Number' if the condition is not met.

In [ ]:
x.where(x%2==0, x**2)         # Square the value and display if the condition is not met.

In [ ]:
# STEP 5: MODIFY SERIES INPLACE USING .where()
x.where(x%2==0, inplace=True) # Here, there is NO Output because the series got modified.

In [ ]:
x

In [ ]:
# STEP 6: HANDLE MISSING VALUES
x

In [ ]:
x.dropna()      # Here, the NaN value is dropped and the rest of the data is displayed.

In [ ]:
x.fillna('Filled Value')  # Here, the NaN value is filled with the value 'Filled Value' and the data is displayed.

In [ ]:
x

In [ ]:
# Careful with this
'''
x = x.dropna(inplace=True)

Here, the x.dropna(inplace=True) will not give any result.
And, the x will be assigned a blank value because of the above.
'''

In [ ]:
x.fillna(1000)       # Here, the NaN value is filled with the value 1000 and data is displayed.

In [ ]:
x.fillna(x.mean())   # Here, the NaN value is filled with the mean value and the data is displayed.

In [ ]:
x.dropna(inplace=True) # Here, the inplace when set to True, the data is modified and is not printed.

In [ ]:
x

In [ ]:
# PANDAS DATAFRAME

In [ ]:
# STEP 1: IMPORT PANDAS AND CREATE AN EMPTY DATAFRAME

# Importing Pandas
import pandas as pd

In [ ]:
# Creating Dataframe
df = pd.DataFrame()

In [ ]:
# Checking the datatype of DataFrame
type(df)

In [ ]:
# STEP 2: READ A CSV FILE

# Function: pd.read_csv()



df = pd.read_csv('Sample_File.csv')

In [ ]:
df

In [ ]:
# STEP 3: Display the First and Last rows
# We can print the first or last five rows of a DataFrame using head and tail functions.
# df.head(5)
# df.tail(5)

In [ ]:
df.head(3)

In [ ]:
df.tail(3)

In [ ]:
# STEP 4: INDEX-BASED ACCESSING

In [ ]:
df

In [ ]:
df.iloc[0]     # Displays the First Record

In [ ]:
df.iloc[0,1]   # Displays the First item on the First Record

In [ ]:
# STEP 4: ACCESS DATAFRAME VALUES AS A NUMPY ARRAY

# Using the .values attribute

df

In [ ]:
df.values

In [ ]:
# STEP 5: ACCESS DATAFRAME VALUES AS A NUMPY ARRAY AND USING iloc / iat.

In [ ]:
df.loc[3,"Age"]    # Picks up the value based on the column name but not row and column number both, then loc.

In [ ]:
df.iloc[0:3,2]    # Picks up the value based on the exact row and column number, then iloc/iat.

In [ ]:
df.iat[2,2]      # Picks up the value based on the exact row and column number, then iloc/iat.

In [ ]:
# STEP 6: READ A CSV FILE IN CHUNKS

df = pd.read_csv('Sample_File.csv', chunksize=2)

In [ ]:
df   # Here, it is NOT DataFrame at the moment.

In [ ]:
for chunk in df:
    print(chunk)

In [ ]:
for chunk in df:
    print(chunk.describe())
    print(chunk.shape)

In [ ]:
# Creating a DataFrame using a Dictionary
pd.DataFrame({'Id': [101,102,103],'Name':['Andrew','Deepika','Akash']})

In [ ]:
# Creating a DataFrame using a 2-Dimensional List aka List-of-List
pd.DataFrame([[2,3],[4,6]],columns=["Val1","Val2"])

In [ ]:
# Reading from an External File
df = pd.read_csv('Sample_File.csv')

In [ ]:
df

In [ ]:
# Dot Notation - If the names have space, it won't work!
df.Name

In [ ]:
# Column Name Notation - This works if the names have space.
df["Name"]

In [ ]:
df

In [ ]:
df['Age']>25

In [ ]:
df[df['Age']>25]

In [ ]:
# Getting the records with Age greater than 25 and less than 40
# When there are multiple conditions inside [], then we should use () for each condition
df[(df.Age>25) & (df.Age<40)]

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
# Reading a CSV File and reading the date field in correct format.
df = pd.read_csv("HousePrices.csv",parse_dates=True)

In [ ]:
# Displaying first few rows of the DataFrame using the .head() method
df.head()

In [ ]:
# Notice the DType for date, it must be 'datetime64' but it is 'object'.
df.info()

In [ ]:
# Changing the DType of Date from object to datetime64.
df["date"]=pd.to_datetime(df["date"])

In [ ]:
df.info()

In [ ]:
df.head(2)

In [ ]:
df.index

In [ ]:
# Setting Multi-level Index on DataFrame using .set_index() method
df.set_index(['city','date'], inplace=True)

In [ ]:
df.index

In [ ]:
# Check the Index, it has changed from 0,1,2... to city+date as Index.
df

In [ ]:
df.index

In [ ]:
# Accessing Rows by Index Label ---> Accessing MultiIndex DataFrames. This can be done using .loc method.

# Pickup the index where Seattle is mentioned.
df.loc['Seattle']

In [ ]:
# Exercises - HousePrices.csv
'''
1. How many Columns?
2. How many Null vlues?
2. How many houses are there with price more than 10000000?
3. Do we have any column with 0 variance?
4. Top 5 houses by Living Area
'''

In [ ]:
import pandas as pd
df = pd.read_csv("HousePrices.csv")
df

In [ ]:
df.isna()

In [ ]:
# Counts the rows OR len(df.axes[0])
len(df.index)

In [ ]:
# Counts the columns OR len(df.axes[1])
len(df.columns)

In [ ]:
# Counting the null values on the DataFrame
df.isna().sum()

In [ ]:
df.isna().sum().sum()