In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("HousePrices.csv")

In [3]:
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [4]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [13]:
# Dimension of the DataFrame
df.shape

(4600, 18)

In [12]:
# Show the houses with price more than or equal to a million
df[df.price>1000000]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
11,2014-05-02 00:00:00,1.400000e+06,4.0,2.50,2920,4000,1.5,0,0,5,1910,1010,1909,1988,3838-4098 44th Ave NE,Seattle,WA 98105,USA
14,2014-05-02 00:00:00,1.200000e+06,5.0,2.75,2910,9480,1.5,0,0,3,2910,0,1939,1969,3534 46th Ave NE,Seattle,WA 98105,USA
99,2014-05-05 00:00:00,1.395000e+06,5.0,3.50,4010,8510,2.0,0,1,5,2850,1160,1971,0,3930 NE Belvoir Pl,Seattle,WA 98105,USA
107,2014-05-05 00:00:00,1.090000e+06,4.0,2.50,4340,141570,2.5,0,0,3,4340,0,1992,0,8814 218th Ave NE,Redmond,WA 98053,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4375,2014-05-09 00:00:00,1.020000e+06,3.0,2.25,2950,78843,1.5,0,0,3,2950,0,2006,0,1918 202nd Pl SE,Sammamish,WA 98075,USA
4465,2014-06-05 00:00:00,2.560498e+06,3.0,2.50,1710,1664,2.0,0,0,5,1300,410,2003,0,2826 21st Ave W,Seattle,WA 98199,USA
4467,2014-06-06 00:00:00,1.337044e+06,4.0,3.50,4280,9583,2.0,0,0,3,4280,0,2005,0,1415 108th Ave SE,Bellevue,WA 98004,USA
4494,2014-06-15 00:00:00,1.036200e+06,4.0,3.25,2500,5801,1.5,0,0,3,1960,540,1926,2003,1502 Parkside Dr E,Seattle,WA 98112,USA
4572,2014-07-02 00:00:00,1.288333e+06,6.0,4.50,3830,4800,3.0,0,0,3,3050,780,1919,2004,2425 3rd Ave W,Seattle,WA 98119,USA

In [14]:
# Show the number of houses with price more than or equal to a million
df[df.price>1000000].shape

(340, 18)

In [15]:
df[df.price>1000000].shape[0]

340

In [16]:
df_var = df.var(numeric_only=True)

In [17]:
df_var

price            3.179096e+11
bedrooms         8.260049e-01
bathrooms        6.143128e-01
sqft_living      9.277676e+05
sqft_lot         1.287693e+09
floors           2.897544e-01
waterfront       7.123997e-03
view             6.059139e-01
condition        4.586402e-01
sqft_above       7.433353e+05
sqft_basement    2.154234e+05
yr_built         8.839828e+02
yr_renovated     9.592528e+05
dtype: float64

In [19]:
# Show all records where Variance is zero.
df_var[df_var==0]

Series([], dtype: float64)

In [22]:
# Show all record where Variance is less than or equal to 1000.
df_var[df_var<=1000]

bedrooms        0.826005
bathrooms       0.614313
floors          0.289754
waterfront      0.007124
view            0.605914
condition       0.458640
yr_built      883.982809
dtype: float64

In [23]:
# Sort the Data
df.sort_values("price",ascending=False,inplace=True)

In [27]:
# Displays the top 5 houses based on price
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
4350,2014-07-03 00:00:00,26590000.0,3.0,2.00,1180,7793,1.0,0,0,4,1180,0,1992,0,12005 SE 219th Ct,Kent,WA 98031,USA
4346,2014-06-23 00:00:00,12899000.0,3.0,2.50,2190,11394,1.0,0,0,3,1550,640,1956,2001,5426 40th Ave W,Seattle,WA 98199,USA
2286,2014-06-11 00:00:00,7062500.0,5.0,4.50,10040,37325,2.0,1,2,3,7680,2360,1940,2001,4442 95th Ave NE,Bellevue,WA 98004,USA
2654,2014-06-17 00:00:00,4668000.0,5.0,6.75,9640,13068,1.0,1,4,3,4820,4820,1983,2009,5044 Butterworth Rd,Mercer Island,WA 98040,USA
2761,2014-06-18 00:00:00,4489000.0,4.0,3.00,6430,27517,2.0,0,0,3,6430,0,2001,0,1149-1199 91st Ave NE,Bellevue,WA 98004,USA

In [28]:
# Checking Null values in columns
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
4350,2014-07-03 00:00:00,26590000.0,3.0,2.00,1180,7793,1.0,0,0,4,1180,0,1992,0,12005 SE 219th Ct,Kent,WA 98031,USA
4346,2014-06-23 00:00:00,12899000.0,3.0,2.50,2190,11394,1.0,0,0,3,1550,640,1956,2001,5426 40th Ave W,Seattle,WA 98199,USA
2286,2014-06-11 00:00:00,7062500.0,5.0,4.50,10040,37325,2.0,1,2,3,7680,2360,1940,2001,4442 95th Ave NE,Bellevue,WA 98004,USA
2654,2014-06-17 00:00:00,4668000.0,5.0,6.75,9640,13068,1.0,1,4,3,4820,4820,1983,2009,5044 Butterworth Rd,Mercer Island,WA 98040,USA
2761,2014-06-18 00:00:00,4489000.0,4.0,3.00,6430,27517,2.0,0,0,3,6430,0,2001,0,1149-1199 91st Ave NE,Bellevue,WA 98004,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4472,2014-06-09 00:00:00,0.0,4.0,3.75,4060,19290,2.0,0,0,3,4060,0,2002,0,21418 SE 5th Pl,Sammamish,WA 98074,USA
4567,2014-07-02 00:00:00,0.0,4.0,2.50,4080,18362,2.0,0,2,4,4080,0,1983,0,2710 95th Ave NE,Clyde Hill,WA 98004,USA
4354,2014-05-05 00:00:00,0.0,3.0,1.75,1490,10125,1.0,0,0,4,1490,0,1962,0,3911 S 328th St,Federal Way,WA 98001,USA
4454,2014-06-03 00:00:00,0.0,5.0,2.50,2090,4698,2.0,0,0,3,2090,0,1998,2006,27622 237th Pl SE,Maple Valley,WA 98038,USA
4382,2014-05-12 00:00:00,0.0,5.0,4.50,4630,6324,2.0,0,0,3,3210,1420,2006,0,6925 Oakmont Ave SE,Snoqualmie,WA 98065,USA

In [29]:
df.isna()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
4350,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4346,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2286,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2654,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2761,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4472,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4567,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4354,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4454,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4382,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [30]:
df.isna().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [31]:
df.isna().sum().sum()

0

In [34]:
# Display all the columns in the DataFrame
df.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country', 'Temp'],
      dtype='object')

In [35]:
# Adding a New Column to the DataFrame
df["temp"] = 30

In [36]:
'''
NOTE: Here, when we try to add a new column, the dimensions must match the dataframe.
'''

'\nNOTE: Here, when we try to add a new column, the dimensions must match the dataframe.\n'

In [37]:
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,Temp,temp
4350,2014-07-03 00:00:00,26590000.0,3.0,2.00,1180,7793,1.0,0,0,4,1180,0,1992,0,12005 SE 219th Ct,Kent,WA 98031,USA,30,30
4346,2014-06-23 00:00:00,12899000.0,3.0,2.50,2190,11394,1.0,0,0,3,1550,640,1956,2001,5426 40th Ave W,Seattle,WA 98199,USA,30,30
2286,2014-06-11 00:00:00,7062500.0,5.0,4.50,10040,37325,2.0,1,2,3,7680,2360,1940,2001,4442 95th Ave NE,Bellevue,WA 98004,USA,30,30
2654,2014-06-17 00:00:00,4668000.0,5.0,6.75,9640,13068,1.0,1,4,3,4820,4820,1983,2009,5044 Butterworth Rd,Mercer Island,WA 98040,USA,30,30
2761,2014-06-18 00:00:00,4489000.0,4.0,3.00,6430,27517,2.0,0,0,3,6430,0,2001,0,1149-1199 91st Ave NE,Bellevue,WA 98004,USA,30,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4472,2014-06-09 00:00:00,0.0,4.0,3.75,4060,19290,2.0,0,0,3,4060,0,2002,0,21418 SE 5th Pl,Sammamish,WA 98074,USA,30,30
4567,2014-07-02 00:00:00,0.0,4.0,2.50,4080,18362,2.0,0,2,4,4080,0,1983,0,2710 95th Ave NE,Clyde Hill,WA 98004,USA,30,30
4354,2014-05-05 00:00:00,0.0,3.0,1.75,1490,10125,1.0,0,0,4,1490,0,1962,0,3911 S 328th St,Federal Way,WA 98001,USA,30,30
4454,2014-06-03 00:00:00,0.0,5.0,2.50,2090,4698,2.0,0,0,3,2090,0,1998,2006,27622 237th Pl SE,Maple Valley,WA 98038,USA,30,30
4382,2014-05-12 00:00:00,0.0,5.0,4.50,4630,6324,2.0,0,0,3,3210,1420,2006,0,6925 Oakmont Ave SE,Snoqualmie,WA 98065,USA,30,30

In [51]:
# Adding a new Column with Null values
'''
In order to add Null values, first we must import numpy.
'''

import numpy as np
df["temp"] = np.nan

In [52]:
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,Temp,temp
4350,2014-07-03 00:00:00,26590000.0,3.0,2.00,1180,7793,1.0,0,0,4,1180,0,1992,0,12005 SE 219th Ct,Kent,WA 98031,USA,30,NaN
4346,2014-06-23 00:00:00,12899000.0,3.0,2.50,2190,11394,1.0,0,0,3,1550,640,1956,2001,5426 40th Ave W,Seattle,WA 98199,USA,30,NaN
2286,2014-06-11 00:00:00,7062500.0,5.0,4.50,10040,37325,2.0,1,2,3,7680,2360,1940,2001,4442 95th Ave NE,Bellevue,WA 98004,USA,30,NaN
2654,2014-06-17 00:00:00,4668000.0,5.0,6.75,9640,13068,1.0,1,4,3,4820,4820,1983,2009,5044 Butterworth Rd,Mercer Island,WA 98040,USA,30,NaN
2761,2014-06-18 00:00:00,4489000.0,4.0,3.00,6430,27517,2.0,0,0,3,6430,0,2001,0,1149-1199 91st Ave NE,Bellevue,WA 98004,USA,30,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4472,2014-06-09 00:00:00,0.0,4.0,3.75,4060,19290,2.0,0,0,3,4060,0,2002,0,21418 SE 5th Pl,Sammamish,WA 98074,USA,30,NaN
4567,2014-07-02 00:00:00,0.0,4.0,2.50,4080,18362,2.0,0,2,4,4080,0,1983,0,2710 95th Ave NE,Clyde Hill,WA 98004,USA,30,NaN
4354,2014-05-05 00:00:00,0.0,3.0,1.75,1490,10125,1.0,0,0,4,1490,0,1962,0,3911 S 328th St,Federal Way,WA 98001,USA,30,NaN
4454,2014-06-03 00:00:00,0.0,5.0,2.50,2090,4698,2.0,0,0,3,2090,0,1998,2006,27622 237th Pl SE,Maple Valley,WA 98038,USA,30,NaN
4382,2014-05-12 00:00:00,0.0,5.0,4.50,4630,6324,2.0,0,0,3,3210,1420,2006,0,6925 Oakmont Ave SE,Snoqualmie,WA 98065,USA,30,NaN

In [54]:
df.isna()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,Temp,temp
4350,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4346,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2286,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2654,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2761,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4472,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4567,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4354,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4454,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4382,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [55]:
df.isna().sum()

date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront          0
view                0
condition           0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated        0
street              0
city                0
statezip            0
country             0
Temp                0
temp             4600
dtype: int64

In [56]:
df.shape

(4600, 20)

In [57]:
df.isna().sum()

date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront          0
view                0
condition           0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated        0
street              0
city                0
statezip            0
country             0
Temp                0
temp             4600
dtype: int64

In [47]:
# Displays the Null values on DataFrame (after adding Null values using numpy -> df["temp"]=np.nan
df.isna().sum().sum()

4600

In [58]:
# Drop a column
df.drop(columns=["temp"],inplace=True)

In [59]:
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,Temp
4350,2014-07-03 00:00:00,26590000.0,3.0,2.00,1180,7793,1.0,0,0,4,1180,0,1992,0,12005 SE 219th Ct,Kent,WA 98031,USA,30
4346,2014-06-23 00:00:00,12899000.0,3.0,2.50,2190,11394,1.0,0,0,3,1550,640,1956,2001,5426 40th Ave W,Seattle,WA 98199,USA,30
2286,2014-06-11 00:00:00,7062500.0,5.0,4.50,10040,37325,2.0,1,2,3,7680,2360,1940,2001,4442 95th Ave NE,Bellevue,WA 98004,USA,30
2654,2014-06-17 00:00:00,4668000.0,5.0,6.75,9640,13068,1.0,1,4,3,4820,4820,1983,2009,5044 Butterworth Rd,Mercer Island,WA 98040,USA,30
2761,2014-06-18 00:00:00,4489000.0,4.0,3.00,6430,27517,2.0,0,0,3,6430,0,2001,0,1149-1199 91st Ave NE,Bellevue,WA 98004,USA,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4472,2014-06-09 00:00:00,0.0,4.0,3.75,4060,19290,2.0,0,0,3,4060,0,2002,0,21418 SE 5th Pl,Sammamish,WA 98074,USA,30
4567,2014-07-02 00:00:00,0.0,4.0,2.50,4080,18362,2.0,0,2,4,4080,0,1983,0,2710 95th Ave NE,Clyde Hill,WA 98004,USA,30
4354,2014-05-05 00:00:00,0.0,3.0,1.75,1490,10125,1.0,0,0,4,1490,0,1962,0,3911 S 328th St,Federal Way,WA 98001,USA,30
4454,2014-06-03 00:00:00,0.0,5.0,2.50,2090,4698,2.0,0,0,3,2090,0,1998,2006,27622 237th Pl SE,Maple Valley,WA 98038,USA,30
4382,2014-05-12 00:00:00,0.0,5.0,4.50,4630,6324,2.0,0,0,3,3210,1420,2006,0,6925 Oakmont Ave SE,Snoqualmie,WA 98065,USA,30

In [61]:
# Group by
groups_city = df.groupby('city')

In [62]:
groups_city.groups

{'Algona': [324, 420, 377, 1598, 290], 'Auburn': [1272, 3894, 1265, 2316, 4252, 2326, 4262, 479, 3574, 1261, 2748, 312, 56, 2406, 2405, 2199, 2332, 697, 960, 2007, 3837, 3972, 2968, 34, 3801, 881, 4055, 4326, 708, 17, 2146, 207, 878, 1986, 3659, 3258, 1684, 1306, 2464, 4126, 3010, 345, 1964, 3515, 4161, 4053, 70, 2701, 1040, 3157, 4418, 4033, 103, 3524, 1746, 3045, 3130, 4416, 662, 978, 3883, 1830, 2347, 2372, 2269, 1017, 1715, 3803, 2391, 1996, 4319, 1082, 2420, 1406, 2330, 431, 4593, 3246, 610, 1921, 2128, 3889, 3915, 3370, 2836, 293, 415, 3304, 2628, 2142, 1725, 3494, 2813, 641, 2494, 2758, 3642, 1125, 1215, 640, ...], 'Beaux Arts Village': [1476], 'Bellevue': [2286, 2761, 2083, 3284, 1209, 2978, 3058, 3699, 1690, 2109, 1629, 3913, 1974, 227, 2713, 3349, 2093, 3534, 1143, 1662, 482, 3783, 359, 2005, 3875, 880, 1602, 2728, 414, 2333, 4169, 4467, 3002, 3389, 4009, 847, 1837, 537, 3234, 3004, 4277, 2883, 3639, 3286, 862, 970, 1127, 2670, 2786, 2096, 4082, 1845, 4114, 1873, 3016, 3463, 3007, 1171, 2417, 1053, 692, 1200, 3403, 3939, 3827, 2418, 118, 2906, 3738, 3898, 736, 1687, 1455, 2973, 2935, 591, 1089, 2550, 1702, 1241, 696, 1341, 3630, 2603, 2264, 3362, 1899, 3299, 3149, 1224, 480, 2367, 1444, 2239, 3988, 2631, 589, 1581, 1595, 3269, ...], 'Black Diamond': [3703, 3357, 3743, 1191, 4129, 234, 439, 3521, 4507], 'Bothell': [2616, 3840, 23, 2260, 3740, 2305, 1448, 829, 2085, 2408, 4197, 3948, 2944, 54, 3107, 2961, 1618, 4238, 4050, 2962, 3438, 3814, 1797, 4421, 1782, 249, 2259, 1069, 2594, 2530, 4564, 2236, 3077], 'Burien': [2025, 3283, 381, 518, 2488, 3470, 3415, 1823, 4139, 1257, 372, 2869, 3072, 2106, 2586, 2483, 3602, 2945, 3345, 4291, 3582, 2777, 3927, 2230, 3498, 174, 3507, 3089, 3949, 2950, 503, 3189, 435, 2539, 4546, 3644, 604, 1991, 1407, 1597, 230, 3435, 4549, 3825, 260, 1160, 237, 250, 2919, 1383, 3907, 2171, 3406, 1423, 531, 3482, 117, 2939, 3501, 2970, 1754, 4251, 307, 2044, 4424, 2194, 4568, 2212, 3375, 2572, 2686, 3643, 4361, 4357], 'Carnation': [1302, 4306, 461, 2157, 4086, 3122, 3538, 248, 254, 2894, 4324, 1051, 2063, 3622, 2895, 917, 1833, 53, 4513, 173, 1112, 1219], 'Clyde Hill': [3729, 1600, 3491, 525, 2357, 3859, 273, 1264, 474, 4480, 4567], 'Covington': [4348, 2207, 599, 3408, 1596, 3687, 3075, 3424, 3115, 4514, 2951, 1709, 991, 1397, 3290, 2736, 1910, 394, 691, 2508, 3155, 3042, 243, 2643, 3136, 4201, 155, 3554, 300, 2183, 4599, 3713, 2325, 833, 3757, 3061, 1055, 1141, 761, 1484, 4407, 4415, 4408], 'Des Moines': [2964, 2411, 1154, 3449, 4013, 1575, 919, 1937, 172, 1085, 2024, 3763, 3310, 4157, 830, 1159, 4176, 4264, 1367, 2756, 2942, 1930, 160, 4232, 1413, 3367, 2386, 3213, 18, 3841, 2121, 901, 1889, 3628, 4190, 371, 1659, 2876, 3505, 1815, 89, 3506, 1589, 2441, 132, 3119, 1084, 1050, 4526, 2785, 633, 3835, 815, 1628, 3171, 1779, 2240, 3528], 'Duvall': [1962, 2166, 2127, 2759, 484, 1570, 2798, 1983, 1955, 2618, 673, 4141, 1316, 1368, 2132, 1031, 2568, 3753, 3519, 3268, 317, 1821, 2695, 3124, 1851, 747, 449, 3513, 2729, 2168, 2135, 614, 3396, 1153, 3727, 112, 566, 2145, 4531, 3610, 1857, 4353], 'Enumclaw': [1722, 3487, 2872, 3702, 4266, 3187, 3211, 2370, 2881, 4087, 1539, 851, 3995, 1958, 1140, 2104, 3604, 3552, 3056, 1067, 1221, 4207, 2839, 1311, 4537, 3706, 4387, 4374], 'Fall City': [2731, 4283, 1511, 779, 4286, 3402, 664, 2196, 40, 2018, 406], 'Federal Way': [4108, 634, 1606, 35, 1755, 3235, 1360, 1225, 1163, 3918, 4250, 2262, 1527, 448, 1463, 699, 3600, 4265, 3173, 398, 1167, 97, 1812, 1462, 1521, 1510, 3446, 4296, 1204, 369, 4410, 2913, 2322, 2356, 2623, 861, 1117, 3188, 251, 3701, 277, 3165, 2764, 816, 4210, 2051, 3755, 1569, 3339, 669, 932, 346, 218, 2026, 4298, 4167, 2790, 2601, 25, 2278, 3467, 4332, 1255, 2890, 1844, 2734, 2015, 551, 1426, 1548, 3989, 2897, 1526, 3929, 3050, 749, 3139, 993, 416, 319, 3522, 1990, 705, 716, 3484, 1509, 4592, 3508, 1903, 2098, 1822, 796, 891, 1172, 4063, 4414, 2774, 792, 1487, 4070, ...], 'Inglewood-Finn Hill': [166], 'Issaquah': [462, 2846, 2030, 1182, 1208, 3577, 4061, 3693, 1130, 3118, 143, 148, 902, 3724, 2517, 1644, 776, 3405, 4160, 2509, 3274, 514, 1044, 3517, 1522, 3123, 557, 703, 1799, 391, 772, 549, 325, 3297, 2520, 4303, 828, 654, 1811, 3143, 79, 513, 1534, 741, 4039, 2436, 28, 4154, 3981, 2921, 1838, 1691, 2525, 3091, 2090, 1641, 3270, 50, 1936, 4089, 3799, 80, 1419, 2794, 3477, 738, 797, 278, 2075, 845, 161, 400, 4548, 1798, 263, 3962, 3347, 4011, 2475, 2261, 1332, 2070, 1674, 4116, 3388, 3845, 2581, 2784, 2778, 3887, 896, 3315, 2421, 4321, 296, 1135, 140, 4151, 1919, 3025, ...], 'Kenmore': [2060, 3975, 2788, 3828, 1874, 3394, 422, 2531, 185, 3462, 458, 935, 1920, 2818, 2521, 1102, 3670, 3737, 196, 670, 618, 385, 3663, 170, 4240, 550, 1525, 4003, 3736, 1931, 922, 838, 1328, 4474, 1490, 3303, 2513, 302, 1863, 1828, 1560, 1573, 730, 1351, 1999, 973, 1620, 2850, 1321, 178, 3359, 3509, 2120, 1428, 3550, 727, 1015, 4502, 4440, 3994, 648, 1421, 3566, 3658, 4378, 4420], 'Kent': [4350, 262, 2138, 1769, 2782, 2588, 344, 1137, 1474, 1461, 2463, 3711, 2033, 1152, 801, 1535, 4194, 3625, 813, 3580, 3249, 3930, 3857, 3916, 3279, 3428, 2870, 3152, 2677, 2660, 3780, 4341, 555, 1747, 2160, 3070, 3564, 4299, 3466, 348, 3080, 3834, 1349, 2, 3897, 1841, 3846, 1205, 3861, 3539, 3317, 3679, 3717, 1739, 3653, 336, 2484, 657, 1348, 1633, 1721, 3217, 729, 1701, 2430, 3450, 2185, 427, 244, 3158, 2111, 819, 3233, 3891, 3131, 2458, 4034, 63, 4072, 892, 2704, 4150, 4367, 1957, 859, 1862, 3455, 2720, 2301, 3154, 176, 2613, 1361, 1382, 2965, 3451, 2691, 2762, 3548, 3712, ...], 'Kirkland': [2772, 1132, 1411, 1077, 1128, 2699, 309, 2361, 2815, 2250, 1176, 3720, 3946, 1134, 3893, 3688, 4202, 543, 1139, 310, 1697, 1133, 2181, 3808, 3220, 4163, 3601, 3697, 2953, 959, 2561, 74, 2590, 2266, 2381, 3024, 1035, 1370, 2776, 2609, 1859, 1791, 1648, 2814, 3912, 90, 3472, 1340, 2394, 1915, 242, 1412, 2243, 686, 3078, 4470, 4445, 2716, 27, 1083, 3027, 4020, 1126, 1929, 2231, 1198, 4497, 3673, 3870, 4219, 3961, 2987, 87, 4125, 1109, 1471, 2899, 367, 2439, 2905, 3384, 261, 1063, 2003, 4081, 4258, 1802, 1118, 2567, 1437, 175, 929, 2035, 499, 2229, 1062, 2059, 2034, 2375, 528, ...], 'Lake Forest Park': [2930, 3565, 3238, 4220, 768, 2193, 401, 3640, 2799, 291, 3481, 2863, 1750, 2126, 2208, 10, 3439, 3457, 3319, 3651, 3452, 1713, 2023, 1808, 2847, 2633, 608, 3088, 2304, 2225, 2447, 3442, 4360, 2664, 4394, 4552], 'Maple Valley': [3555, 2089, 3254, 3456, 2507, 1673, 2855, 1579, 1847, 7, 2900, 3593, 3649, 2995, 976, 3800, 490, 4093, 3646, 3571, 2249, 2592, 542, 971, 2000, 305, 2604, 2960, 1826, 2826, 4281, 3758, 1995, 3545, 4153, 4040, 807, 1003, 3698, 2004, 865, 1088, 2982, 3832, 1021, 2479, 2730, 3785, 3354, 3541, 465, 651, 4468, 2802, 3620, 835, 1400, 1764, 111, 507, 1736, 1946, 4029, 1313, 2302, 3944, 37, 3306, 3868, 236, 1676, 1119, 3885, 4451, 2190, 4305, 4300, 3645, 1262, 1494, 2647, 809, 2419, 3377, 1304, 2737, 887, 4331, 3611, 450, 2949, 744, 1496, 529, 4447, 4454], 'Medina': [1637, 1571, 4261, 4135, 3863, 745, 2607, 995, 3502, 2139, 4349], 'Mercer Island': [2654, 1567, 3791, 3959, 4273, 2711, 839, 2917, 217, 2885, 2226, 1345, 3667, 452, 4246, 611, 1268, 603, 3695, 606, 1369, 2108, 2094, 1813, 1636, 373, 1675, 2186, 534, 478, 3910, 3563, 4076, 3422, 1843, 318, 2481, 2954, 1399, 700, 4515, 4527, 1622, 506, 3892, 2979, 629, 2920, 1427, 1070, 2468, 2993, 483, 1717, 505, 3951, 2399, 322, 4019, 3465, 3039, 1961, 1882, 592, 3180, 2342, 3412, 2403, 1766, 2740, 4578, 4532, 3817, 3919, 4218, 4144, 1978, 3288, 4562, 4529, 2562, 4428, 4385, 4453, 4523, 4509], 'Milton': [2064, 4112], 'Newcastle': [3281, 2672, 1761, 2879, 4233, 1555, 781, 3355, 2706, 2910, 206, 590, 1192, 1788, 1059, 2914, 1572, 3005, 923, 2053, 653, 3106, 1884, 3733, 2528, 4213, 4131, 4128, 2661, 1731, 3387, 208, 3614], 'Normandy Park': [3682, 4049, 937, 337, 637, 3822, 2844, 2414, 4101, 3219, 2741, 38, 1855, 2022, 605, 2733, 522, 4376], 'North Bend': [2446, 4254, 3618, 2268, 3807, 1649, 1965, 3603, 879, 3882, 2129, 1748, 61, 2769, 8, 2348, 4155, 1780, 783, 921, 1829, 2574, 1614, 1232, 2958, 4028, 4119, 3184, 2922, 1299, 4059, 3301, 1161, 3432, 1896, 2552, 3718, 1180, 1801, 3318, 871, 194, 3037, 733, 2276, 19, 794, 4369, 440, 2321], 'Pacific': [3397, 1346, 1820, 1105, 1456, 3761], 'Preston': [1944, 1672], 'Ravensdale': [2551, 1103, 240, 671, 446, 445, 1227], 'Redmond': [122, 3153, 4032, 965, 3209, 2434, 471, 1275, 2031, 233, 3906, 107, 1239, 541, 2294, 2742, 2472, 1824, 3022, 2889, 3787, 3888, 1181, 4031, 3696, 3990, 3970, 189, 2665, 444, 3239, 49, 2624, 2046, 3076, 142, 1363, 3802, 545, 930, 1052, 4164, 3099, 774, 1733, 690, 1424, 2368, 1280, 2358, 3627, 228, 3011, 68, 2727, 1005, 1410, 1856, 904, 2926, 3205, 502, 728, 4269, 1886, 3272, 2027, 2148, 4268, 2184, 4230, 3293, 1520, 2651, 3558, 4227, 1259, 2912, 2911, 3305, 3321, 2708, 805, 4172, 2843, 1378, 150, 3789, 3596, 1116, 3830, 2393, 4069, 2245, 1654, 4340, 4005, 2082, 4485, 2559, ...], 'Renton': [4138, 3958, 3511, 360, 1901, 390, 2612, 4091, 100, 2933, 1481, 4270, 279, 271, 64, 62, 3311, 4115, 1149, 4200, 1768, 2809, 225, 2360, 4183, 2988, 3576, 999, 3953, 2541, 2008, 3671, 1235, 129, 1968, 4241, 2620, 2102, 2719, 2086, 2270, 4226, 3518, 179, 3960, 1038, 1352, 4044, 4173, 624, 2362, 3680, 1519, 1001, 2636, 2407, 2279, 4434, 3993, 147, 571, 1796, 3100, 3585, 2698, 2311, 2076, 2726, 4505, 2041, 544, 3208, 1875, 1418, 2873, 4234, 1281, 4365, 918, 3049, 3490, 4088, 1228, 3684, 702, 3654, 4152, 4278, 818, 3784, 2824, 2610, 1900, 4302, 3525, 2947, 3012, 2487, 4597, 850, ...], 'Sammamish': [404, 1301, 2725, 2401, 704, 3358, 3924, 3775, 578, 4375, 3346, 1202, 2605, 4174, 2073, 1467, 677, 1395, 3008, 397, 780, 2738, 4048, 2069, 2471, 4282, 1878, 3709, 1792, 4060, 3978, 81, 2440, 2371, 2614, 1480, 2072, 442, 1309, 2938, 2340, 842, 130, 2996, 1945, 77, 2903, 3340, 4052, 2747, 200, 4158, 2573, 3551, 4215, 1142, 2244, 1115, 2338, 3739, 2781, 1338, 934, 351, 2959, 2902, 695, 3327, 2100, 2595, 1536, 740, 2182, 1794, 748, 4510, 2791, 3526, 198, 3038, 1248, 4565, 4419, 1580, 3426, 1683, 1689, 1452, 1661, 1652, 4191, 2210, 4336, 1195, 1458, 547, 2032, 494, 4057, 4008, ...], 'SeaTac': [3824, 2641, 1206, 683, 3033, 1310, 2862, 1528, 3535, 2743, 1585, 2277, 1502, 1045, 1993, 2455, 2144, 2445, 3480, 583, 3137, 992, 1184, 2655, 4068, 4368, 1541, 908, 4411], 'Seattle': [4346, 252, 2328, 4465, 581, 2712, 3202, 1543, 2980, 1858, 1, 3781, 2364, 4143, 3873, 3496, 1500, 3661, 3923, 356, 3964, 2533, 2584, 2500, 3748, 1010, 2412, 4142, 1355, 3768, 4017, 3935, 1386, 3609, 3117, 201, 1337, 2724, 2825, 1056, 1660, 284, 4204, 2972, 4030, 2858, 1584, 133, 650, 2767, 1518, 11, 1468, 99, 3499, 2040, 1617, 3798, 3337, 285, 3469, 2454, 3368, 2837, 1258, 488, 2841, 366, 2971, 1951, 4042, 524, 3721, 4572, 1436, 3968, 2061, 979, 734, 3460, 4209, 2206, 4325, 193, 3133, 1107, 1470, 4136, 14, 3963, 3629, 3705, 4120, 927, 2705, 2389, 1186, 1464, 3634, 3200, ...], 'Shoreline': [1911, 2495, 916, 1100, 1763, 666, 4344, 2057, 4171, 2048, 1094, 210, 33, 658, 2763, 2299, 232, 2676, 1866, 3084, 3691, 270, 884, 3847, 2779, 2363, 2339, 577, 4104, 553, 1120, 2994, 1354, 1905, 4242, 4083, 1342, 304, 3276, 750, 3899, 2989, 85, 1960, 2380, 2218, 846, 120, 1242, 2755, 742, 4006, 1016, 2273, 593, 3641, 1318, 177, 867, 660, 1329, 2049, 3256, 2251, 1314, 3877, 4317, 2880, 1270, 3065, 3676, 3352, 2197, 2722, 476, 3911, 512, 2991, 3225, 3237, 1870, 0, 1389, 682, 2234, 42, 2247, 1705, 3222, 2448, 3181, 3631, 3860, 3612, 721, 3040, 996, 3381, 1495, 3938, ...], 'Skykomish': [3598, 4184, 326], 'Snoqualmie': [1417, 1952, 3770, 57, 1925, 3300, 1686, 3014, 4304, 1517, 2265, 4189, 844, 4018, 621, 1586, 1590, 1922, 3156, 1030, 1196, 3437, 785, 1923, 3954, 3476, 2047, 1092, 1827, 933, 3313, 2080, 60, 1651, 2811, 1238, 824, 2351, 1507, 409, 105, 3572, 3338, 3864, 841, 2681, 1398, 3380, 2684, 1308, 2766, 617, 1716, 1789, 4320, 1909, 2167, 1041, 2637, 1000, 3445, 4185, 854, 4021, 375, 2284, 67, 2155, 3678, 4542, 4382], 'Snoqualmie Pass': [1064], 'Tukwila': [4347, 3692, 3986, 672, 723, 3854, 1365, 3035, 2095, 1816, 4182, 1724, 2522, 3901, 2648, 2205, 795, 3087, 364, 2600, 701, 2797, 2835, 2773, 2506, 1908, 3138, 1587, 4351], 'Vashon': [2480, 1639, 1682, 3429, 535, 2152, 3175, 2639, 3195, 4285, 3584, 1408, 2690, 3532, 2563, 1786, 3512, 3544, 4259, 2580, 2608, 798, 2992, 2202, 579, 2220, 874, 395, 2056], 'Woodinville': [3559, 3199, 418, 3353, 2967, 675, 753, 388, 2159, 495, 3194, 3418, 272, 2516, 1317, 3221, 2298, 2976, 812, 2577, 2680, 3260, 3125, 889, 3700, 3497, 3980, 655, 3660, 1947, 3097, 2461, 3732, 4122, 1898, 2663, 3561, 2497, 1777, 2170, 4403, 1425, 1111, 3182, 2457, 396, 2640, 2110, 4054, 2300, 580, 426, 4310, 1656, 454, 1359, 4170, 1666, 4457, 1790, 2760, 2045, 3823, 358, 853, 3583, 619, 751, 3178, 2079, 3766, 31, 1505, 209, 1188, 292, 548, 3074, 1760, 4236, 1247, 1623, 903, 969, 362, 964, 817, 4024, 2975, 2021, 4430, 4545, 4323, 4223, 4105, 3385, 4124, 1630, 897, 517, ...], 'Yarrow Point': [1848, 564, 3121, 4345]}

In [63]:
groups_city.get_group("Algona")

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,Temp
324,2014-05-08 00:00:00,262000.0,4.0,2.5,2020,6236,2.0,0,0,3,2020,0,2002,0,434 Pullman Ave,Algona,WA 98001,USA,30
420,2014-05-09 00:00:00,248000.0,4.0,3.0,2163,5883,2.0,0,0,3,2163,0,2006,0,429 Milwaukee Blvd S,Algona,WA 98001,USA,30
377,2014-05-08 00:00:00,230000.0,3.0,1.0,1390,16000,1.0,0,0,4,1390,0,1960,2001,322 9th Ave N,Algona,WA 98001,USA,30
1598,2014-05-30 00:00:00,196440.0,3.0,2.0,1560,7352,1.0,0,0,3,1560,0,1992,0,130 Main St,Algona,WA 98001,USA,30
290,2014-05-07 00:00:00,100000.0,2.0,1.0,910,22000,1.0,0,0,3,910,0,1956,2001,138 Seattle Blvd S,Algona,WA 98001,USA,30

In [64]:
df.groupby("city")["price"].mean()

city
Algona                 2.072880e+05
Auburn                 2.993404e+05
Beaux Arts Village     7.450000e+05
Bellevue               8.471807e+05
Black Diamond          3.396056e+05
Bothell                4.814419e+05
Burien                 3.489472e+05
Carnation              5.087520e+05
Clyde Hill             1.321945e+06
Covington              2.962304e+05
Des Moines             3.049925e+05
Duvall                 4.039941e+05
Enumclaw               3.076146e+05
Fall City              6.926818e+05
Federal Way            2.898877e+05
Inglewood-Finn Hill    4.250000e+05
Issaquah               5.961637e+05
Kenmore                4.474940e+05
Kent                   4.394924e+05
Kirkland               6.515836e+05
Lake Forest Park       4.484750e+05
Maple Valley           3.364749e+05
Medina                 2.046559e+06
Mercer Island          1.123818e+06
Milton                 2.850000e+05
Newcastle              6.660467e+05
Normandy Park          5.067931e+05
North Bend             3.995657e+05
Pacific                2.252333e+05
Preston                5.624500e+05
Ravensdale             5.140714e+05
Redmond                6.676495e+05
Renton                 3.770410e+05
Sammamish              6.869176e+05
SeaTac                 2.452906e+05
Seattle                5.798375e+05
Shoreline              4.203924e+05
Skykomish              2.330000e+05
Snoqualmie             5.363053e+05
Snoqualmie Pass        5.250000e+05
Tukwila                3.082901e+05
Vashon                 4.725569e+05
Woodinville            6.095650e+05
Yarrow Point           1.194838e+06
Name: price, dtype: float64

In [69]:
df.bedrooms.unique()

array([3., 5., 4., 7., 6., 8., 2., 0., 9., 1.])

In [70]:
# Pivot Table
pd.pivot_table(data=df,index='city',values='price',aggfunc='mean')

                            price
city
Algona               2.072880e+05
Auburn               2.993404e+05
Beaux Arts Village   7.450000e+05
Bellevue             8.471807e+05
Black Diamond        3.396056e+05
Bothell              4.814419e+05
Burien               3.489472e+05
Carnation            5.087520e+05
Clyde Hill           1.321945e+06
Covington            2.962304e+05
Des Moines           3.049925e+05
Duvall               4.039941e+05
Enumclaw             3.076146e+05
Fall City            6.926818e+05
Federal Way          2.898877e+05
Inglewood-Finn Hill  4.250000e+05
Issaquah             5.961637e+05
Kenmore              4.474940e+05
Kent                 4.394924e+05
Kirkland             6.515836e+05
Lake Forest Park     4.484750e+05
Maple Valley         3.364749e+05
Medina               2.046559e+06
Mercer Island        1.123818e+06
Milton               2.850000e+05
Newcastle            6.660467e+05
Normandy Park        5.067931e+05
North Bend           3.995657e+05
Pacific              2.252333e+05
Preston              5.624500e+05
Ravensdale           5.140714e+05
Redmond              6.676495e+05
Renton               3.770410e+05
Sammamish            6.869176e+05
SeaTac               2.452906e+05
Seattle              5.798375e+05
Shoreline            4.203924e+05
Skykomish            2.330000e+05
Snoqualmie           5.363053e+05
Snoqualmie Pass      5.250000e+05
Tukwila              3.082901e+05
Vashon               4.725569e+05
Woodinville          6.095650e+05
Yarrow Point         1.194838e+06

In [72]:
'''
Difference between 'Group by' &  'Pivot Table':
-Group by ---> Gives a series as an output
-Pivot table --- > Gives a DataFrame as an output
'''

"\nDifference between 'Group by' &  'Pivot Table':\n-Group by ---> Gives a series as an output\n-Pivot table --- > Gives a DataFrame as an output\n"

In [73]:
# Pivot Table
pd.pivot_table(data=df,index=['city','bedrooms'],values='price',aggfunc='mean')

                              price
city         bedrooms
Algona       2.0       1.000000e+05
             3.0       2.132200e+05
             4.0       2.550000e+05
Auburn       1.0       1.150000e+05
             2.0       2.458923e+05
...                             ...
Woodinville  5.0       6.094286e+05
             6.0       1.135000e+06
Yarrow Point 3.0       1.400000e+06
             4.0       8.435000e+04
             5.0       1.895000e+06

[190 rows x 1 columns]

In [74]:
# Pivot Table
pd.pivot_table(data=df,index=['city'],columns=['bedrooms'],values='price',aggfunc='mean')

bedrooms,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0
city,,,,,,,,,,
Algona,NaN,NaN,1.000000e+05,2.132200e+05,2.550000e+05,NaN,NaN,NaN,NaN,NaN
Auburn,NaN,115000.000000,2.458923e+05,2.694677e+05,3.470371e+05,3.364000e+05,2.800000e+05,280000.0,NaN,NaN
Beaux Arts Village,NaN,NaN,NaN,7.450000e+05,NaN,NaN,NaN,NaN,NaN,NaN
Bellevue,NaN,NaN,8.083000e+05,6.670543e+05,9.210502e+05,1.039571e+06,8.513750e+05,1119500.0,NaN,NaN
Black Diamond,NaN,NaN,3.980000e+05,2.953900e+05,3.938333e+05,NaN,NaN,NaN,NaN,NaN
Bothell,NaN,NaN,5.755000e+05,4.435375e+05,5.089631e+05,4.839000e+05,NaN,NaN,NaN,NaN
Burien,NaN,247500.000000,2.324803e+05,3.600584e+05,4.593380e+05,3.199375e+05,2.394000e+05,NaN,NaN,NaN
Carnation,NaN,266616.666667,6.490000e+05,3.592222e+05,7.234103e+05,NaN,NaN,NaN,NaN,NaN
Clyde Hill,NaN,NaN,NaN,0.000000e+00,1.152857e+06,2.157133e+06,NaN,NaN,NaN,NaN
Covington,NaN,NaN,2.437250e+05,2.306685e+05,4.847839e+05,1.025000e+05,NaN,NaN,NaN,NaN
Des Moines,NaN,NaN,2.027669e+05,3.311589e+05,3.291462e+05,3.179637e+05,NaN,NaN,NaN,NaN
Duvall,NaN,NaN,3.625000e+05,3.570481e+05,4.780875e+05,5.265000e+05,NaN,NaN,NaN,NaN
Enumclaw,NaN,275000.000000,1.510000e+05,3.242088e+05,3.306900e+05,2.735000e+05,NaN,NaN,NaN,NaN
Fall City,NaN,NaN,6.000000e+05,4.112500e+05,5.965000e+05,9.925000e+05,1.600000e+06,NaN,NaN,NaN
Federal Way,NaN,NaN,2.326900e+05,2.657639e+05,3.010436e+05,4.472114e+05,3.869750e+05,NaN,NaN,NaN
Inglewood-Finn Hill,NaN,NaN,NaN,NaN,4.250000e+05,NaN,NaN,NaN,NaN,NaN
Issaquah,NaN,NaN,4.003262e+05,5.118059e+05,6.598371e+05,8.432151e+05,8.103333e+05,840000.0,NaN,NaN
Kenmore,NaN,NaN,2.990000e+05,3.974971e+05,4.939115e+05,5.800000e+05,4.750000e+05,NaN,NaN,NaN
Kent,NaN,129000.000000,1.738667e+05,5.565675e+05,3.149907e+05,3.846892e+05,3.525000e+05,NaN,NaN,NaN
Kirkland,NaN,285000.000000,4.129400e+05,5.624957e+05,7.340429e+05,8.554666e+05,NaN,NaN,NaN,NaN
Lake Forest Park,NaN,NaN,2.850000e+05,4.310188e+05,4.719846e+05,4.695000e+05,4.100000e+05,540000.0,NaN,NaN
Maple Valley,NaN,NaN,2.160000e+05,3.116603e+05,3.724623e+05,3.492500e+05,NaN,NaN,NaN,NaN
Medina,NaN,NaN,NaN,NaN,1.983215e+06,2.680000e+06,NaN,NaN,NaN,NaN
Mercer Island,NaN,NaN,1.087500e+06,7.978000e+05,1.031055e+06,1.480133e+06,1.333333e+06,1950000.0,NaN,NaN
Milton,NaN,NaN,NaN,2.850000e+05,NaN,NaN,NaN,NaN,NaN,NaN
Newcastle,NaN,NaN,NaN,5.320364e+05,7.241656e+05,7.893317e+05,NaN,NaN,NaN,NaN
Normandy Park,NaN,NaN,2.211375e+05,5.175625e+05,6.028333e+05,4.612500e+05,NaN,NaN,NaN,NaN
North Bend,NaN,NaN,2.844750e+05,3.554966e+05,4.864198e+05,NaN,NaN,NaN,NaN,NaN
Pacific,NaN,NaN,1.740000e+05,2.324667e+05,2.200000e+05,2.600000e+05,NaN,NaN,NaN,NaN
Preston,NaN,NaN,4.399000e+05,6.850000e+05,NaN,NaN,NaN,NaN,NaN,NaN
Ravensdale,NaN,NaN,2.250000e+05,5.645000e+05,5.611250e+05,NaN,NaN,NaN,NaN,NaN
Redmond,1295648.0,NaN,5.469967e+05,6.048547e+05,7.323127e+05,7.323564e+05,5.830000e+05,2280000.0,NaN,NaN
Renton,NaN,355000.000000,2.252416e+05,3.489408e+05,4.342609e+05,4.111430e+05,4.227500e+05,350000.0,NaN,NaN
Sammamish,NaN,NaN,5.050000e+05,6.050844e+05,7.287513e+05,7.648942e+05,9.680000e+05,NaN,NaN,NaN
SeaTac,NaN,NaN,1.981400e+05,2.736428e+05,2.419684e+05,1.993167e+05,NaN,NaN,NaN,NaN
Seattle,1095000.0,268288.461538,4.148433e+05,5.633158e+05,7.070898e+05,7.489607e+05,9.644476e+05,1035500.0,1970000.0,599999.0
Shoreline,NaN,NaN,3.211641e+05,3.863689e+05,4.621273e+05,5.553051e+05,2.005000e+06,NaN,340000.0,NaN
Skykomish,NaN,NaN,1.340000e+05,2.825000e+05,NaN,NaN,NaN,NaN,NaN,NaN
Snoqualmie,NaN,527550.000000,3.077500e+05,4.710016e+05,6.225028e+05,5.762500e+05,6.200000e+05,NaN,NaN,NaN
Snoqualmie Pass,NaN,NaN,NaN,5.250000e+05,NaN,NaN,NaN,NaN,NaN,NaN
Tukwila,NaN,NaN,1.825286e+05,2.637167e+05,6.349924e+05,2.660000e+05,NaN,NaN,NaN,NaN
Vashon,NaN,NaN,4.798769e+05,4.655227e+05,4.770000e+05,4.370000e+05,NaN,NaN,NaN,NaN
Woodinville,NaN,458000.000000,4.173000e+05,4.828763e+05,7.377382e+05,6.094286e+05,1.135000e+06,NaN,NaN,NaN
Yarrow Point,NaN,NaN,NaN,1.400000e+06,8.435000e+04,1.895000e+06,NaN,NaN,NaN,NaN

In [75]:
# Info
help(pd.pivot_table)

"""
AggFunc ---> By Default, it is mean.
"""

Help on function pivot_table in module pandas.core.reshape.pivot:

pivot_table(data: 'DataFrame', values=None, index=None, columns=None, aggfunc: 'AggFuncType' = 'mean', fill_value=None, margins: 'bool' = False, dropna: 'bool' = True, margins_name: 'str' = 'All', observed: 'bool' = False, sort: 'bool' = True) -> 'DataFrame'
    Create a spreadsheet-style pivot table as a DataFrame.

    The levels in the pivot table will be stored in MultiIndex objects
    (hierarchical indexes) on the index and columns of the result DataFrame.

    Parameters
    ----------
    data : DataFrame
    values : column to aggregate, optional
    index : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table index.  If an array is passed,
        it is being used as the same manner as column values.
    columns : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table column.  If an array is passed,
        it is being used as the same manner as column values.
    aggfunc : function, list of functions, dict, default numpy.mean
        If list of functions passed, the resulting pivot table will have
        hierarchical columns whose top level are the function names
        (inferred from the function objects themselves)
        If dict is passed, the key is column to aggregate and value
        is function or list of functions.
    fill_value : scalar, default None
        Value to replace missing values with (in the resulting pivot table,
        after aggregation).
    margins : bool, default False
        Add all row / columns (e.g. for subtotal / grand totals).
    dropna : bool, default True
        Do not include columns whose entries are all NaN. If True,
        rows with a NaN value in any column will be omitted before
        computing margins.
    margins_name : str, default 'All'
        Name of the row / column that will contain the totals
        when margins is True.
    observed : bool, default False
        This only applies if any of the groupers are Categoricals.
        If True: only show observed values for categorical groupers.
        If False: show all values for categorical groupers.

        .. versionchanged:: 0.25.0

    sort : bool, default True
        Specifies if the result should be sorted.

        .. versionadded:: 1.3.0

    Returns
    -------
    DataFrame
        An Excel style pivot table.

    See Also
    --------
    DataFrame.pivot : Pivot without aggregation that can handle
        non-numeric data.
    DataFrame.melt: Unpivot a DataFrame from wide to long format,
        optionally leaving identifiers set.
    wide_to_long : Wide panel to long format. Less flexible but more
        user-friendly than melt.

    Notes
    -----
    Reference :ref:`the user guide <reshaping.pivot>` for more examples.

    Examples
    --------
    >>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
    ...                          "bar", "bar", "bar", "bar"],
    ...                    "B": ["one", "one", "one", "two", "two",
    ...                          "one", "one", "two", "two"],
    ...                    "C": ["small", "large", "large", "small",
    ...                          "small", "large", "small", "small",
    ...                          "large"],
    ...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
    ...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
    >>> df
         A    B      C  D  E
    0  foo  one  small  1  2
    1  foo  one  large  2  4
    2  foo  one  large  2  5
    3  foo  two  small  3  5
    4  foo  two  small  3  6
    5  bar  one  large  4  6
    6  bar  one  small  5  8
    7  bar  two  small  6  9
    8  bar  two  large  7  9

    This first example aggregates values by taking the sum.

    >>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
    ...                     columns=['C'], aggfunc=np.sum)
    >>> table
    C        large  small
    A   B
    bar one    4.0    5.0
        two    7.0    6.0
    foo one    4.0    1.0
        two    NaN    6.0

    We can also fill missing values using the `fill_value` parameter.

    >>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
    ...                     columns=['C'], aggfunc=np.sum, fill_value=0)
    >>> table
    C        large  small
    A   B
    bar one      4      5
        two      7      6
    foo one      4      1
        two      0      6

    The next example aggregates by taking the mean across multiple columns.

    >>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                     aggfunc={'D': np.mean,
    ...                              'E': np.mean})
    >>> table
                    D         E
    A   C
    bar large  5.500000  7.500000
        small  5.500000  8.500000
    foo large  2.000000  4.500000
        small  2.333333  4.333333

    We can also calculate multiple types of aggregations for any given
    value column.

    >>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                     aggfunc={'D': np.mean,
    ...                              'E': [min, max, np.mean]})
    >>> table
                      D   E
                   mean max      mean  min
    A   C
    bar large  5.500000   9  7.500000    6
        small  5.500000   9  8.500000    8
    foo large  2.000000   5  4.500000    4
        small  2.333333   6  4.333333    2

In [86]:
# Pivot Table
report=pd.pivot_table(data=df,index=['city','bedrooms'],values=['price','sqft_living'],aggfunc=['mean','max','min'])

In [81]:
report

                               mean                     max              \
                              price  sqft_living      price sqft_living
city         bedrooms
Algona       2.0       1.000000e+05   910.000000   100000.0         910
             3.0       2.132200e+05  1475.000000   230000.0        1560
             4.0       2.550000e+05  2091.500000   262000.0        2163
Auburn       1.0       1.150000e+05  1150.000000   115000.0        1150
             2.0       2.458923e+05  1406.923077   475000.0        1800
...                             ...          ...        ...         ...
Woodinville  5.0       6.094286e+05  3631.428571   950000.0        4530
             6.0       1.135000e+06  6900.000000  1135000.0        6900
Yarrow Point 3.0       1.400000e+06  2070.000000  1901000.0        2660
             4.0       8.435000e+04  2630.000000    84350.0        2630
             5.0       1.895000e+06  3120.000000  1895000.0        3120

                             min
                           price sqft_living
city         bedrooms
Algona       2.0        100000.0         910
             3.0        196440.0        1390
             4.0        248000.0        2020
Auburn       1.0        115000.0        1150
             2.0         87500.0         780
...                          ...         ...
Woodinville  5.0             0.0        2230
             6.0       1135000.0        6900
Yarrow Point 3.0        899000.0        1480
             4.0         84350.0        2630
             5.0       1895000.0        3120

[190 rows x 6 columns]

In [90]:
pip install openpyxl

<class 'AttributeError'>: module 'pexpect' has no attribute 'TIMEOUT'

In [98]:
report.to_excel("cityReport.xlsx")
report.to_html("cityReport.html")

<class 'ModuleNotFoundError'>: No module named 'openpyxl'

In [99]:
text = "I am fine"

In [101]:
text.split(" ")

['I', 'am', 'fine']

In [100]:
len(text.split(" "))

3

In [103]:
# Creating a word count function - takes input as x and displays the number of words

def wordcount(x):
    return len(x.split(" "))

In [104]:
wordcount("It was a beautiful day. Thank you")

7

In [106]:
# Applying the fucntion to the DataFrame with a selected column
df["street"].apply(wordcount)

4350    4
4346    4
2286    4
2654    3
2761    4
       ..
4472    4
4567    4
4354    4
4454    4
4382    4
Name: street, Length: 4600, dtype: int64

In [107]:
# Reading an Excel File
data = pd.read_excel("filename.xlsx",sheet_name="Sheet3")

<class 'FileNotFoundError'>: [Errno 44] No such file or directory: 'filename.xlsx'

In [108]:
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,Temp
4350,2014-07-03 00:00:00,26590000.0,3.0,2.00,1180,7793,1.0,0,0,4,1180,0,1992,0,12005 SE 219th Ct,Kent,WA 98031,USA,30
4346,2014-06-23 00:00:00,12899000.0,3.0,2.50,2190,11394,1.0,0,0,3,1550,640,1956,2001,5426 40th Ave W,Seattle,WA 98199,USA,30
2286,2014-06-11 00:00:00,7062500.0,5.0,4.50,10040,37325,2.0,1,2,3,7680,2360,1940,2001,4442 95th Ave NE,Bellevue,WA 98004,USA,30
2654,2014-06-17 00:00:00,4668000.0,5.0,6.75,9640,13068,1.0,1,4,3,4820,4820,1983,2009,5044 Butterworth Rd,Mercer Island,WA 98040,USA,30
2761,2014-06-18 00:00:00,4489000.0,4.0,3.00,6430,27517,2.0,0,0,3,6430,0,2001,0,1149-1199 91st Ave NE,Bellevue,WA 98004,USA,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4472,2014-06-09 00:00:00,0.0,4.0,3.75,4060,19290,2.0,0,0,3,4060,0,2002,0,21418 SE 5th Pl,Sammamish,WA 98074,USA,30
4567,2014-07-02 00:00:00,0.0,4.0,2.50,4080,18362,2.0,0,2,4,4080,0,1983,0,2710 95th Ave NE,Clyde Hill,WA 98004,USA,30
4354,2014-05-05 00:00:00,0.0,3.0,1.75,1490,10125,1.0,0,0,4,1490,0,1962,0,3911 S 328th St,Federal Way,WA 98001,USA,30
4454,2014-06-03 00:00:00,0.0,5.0,2.50,2090,4698,2.0,0,0,3,2090,0,1998,2006,27622 237th Pl SE,Maple Valley,WA 98038,USA,30
4382,2014-05-12 00:00:00,0.0,5.0,4.50,4630,6324,2.0,0,0,3,3210,1420,2006,0,6925 Oakmont Ave SE,Snoqualmie,WA 98065,USA,30

In [110]:
# DataFrame to JSON
df.to_json("house.json")

In [111]:
mydf = pd.DataFrame({'AppName': ['A','B','C'],'Size':['1G','1.5G','2G']})

In [112]:
mydf

  AppName  Size
0       A    1G
1       B  1.5G
2       C    2G

In [113]:
mydf['Size Num'] = mydf['Size'].str.replace("G","")

In [114]:
mydf

  AppName  Size Size Num
0       A    1G        1
1       B  1.5G      1.5
2       C    2G        2

In [115]:
mydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   AppName   3 non-null      object
 1   Size      3 non-null      object
 2   Size Num  3 non-null      object
dtypes: object(3)
memory usage: 108.0+ bytes

In [116]:
pd.to_numeric(mydf['Size Num'])

0    1.0
1    1.5
2    2.0
Name: Size Num, dtype: float64

In [117]:
df_new = df.copy(deep=True)

In [118]:
df_new

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,Temp
4350,2014-07-03 00:00:00,26590000.0,3.0,2.00,1180,7793,1.0,0,0,4,1180,0,1992,0,12005 SE 219th Ct,Kent,WA 98031,USA,30
4346,2014-06-23 00:00:00,12899000.0,3.0,2.50,2190,11394,1.0,0,0,3,1550,640,1956,2001,5426 40th Ave W,Seattle,WA 98199,USA,30
2286,2014-06-11 00:00:00,7062500.0,5.0,4.50,10040,37325,2.0,1,2,3,7680,2360,1940,2001,4442 95th Ave NE,Bellevue,WA 98004,USA,30
2654,2014-06-17 00:00:00,4668000.0,5.0,6.75,9640,13068,1.0,1,4,3,4820,4820,1983,2009,5044 Butterworth Rd,Mercer Island,WA 98040,USA,30
2761,2014-06-18 00:00:00,4489000.0,4.0,3.00,6430,27517,2.0,0,0,3,6430,0,2001,0,1149-1199 91st Ave NE,Bellevue,WA 98004,USA,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4472,2014-06-09 00:00:00,0.0,4.0,3.75,4060,19290,2.0,0,0,3,4060,0,2002,0,21418 SE 5th Pl,Sammamish,WA 98074,USA,30
4567,2014-07-02 00:00:00,0.0,4.0,2.50,4080,18362,2.0,0,2,4,4080,0,1983,0,2710 95th Ave NE,Clyde Hill,WA 98004,USA,30
4354,2014-05-05 00:00:00,0.0,3.0,1.75,1490,10125,1.0,0,0,4,1490,0,1962,0,3911 S 328th St,Federal Way,WA 98001,USA,30
4454,2014-06-03 00:00:00,0.0,5.0,2.50,2090,4698,2.0,0,0,3,2090,0,1998,2006,27622 237th Pl SE,Maple Valley,WA 98038,USA,30
4382,2014-05-12 00:00:00,0.0,5.0,4.50,4630,6324,2.0,0,0,3,3210,1420,2006,0,6925 Oakmont Ave SE,Snoqualmie,WA 98065,USA,30