## __Visualize Data in Python Using Pivot Tables__
Let's learn to visualize data in Python using pivot tables.

## Step 1: Import the Required Libraries and Read the Data Set

First, we will import the pandas library.

In [ ]:
import pandas as pd

Then, read the data set `HousePrices.csv` into the Python environment:

In [ ]:
df = pd.read_csv('HousePrices.csv')

Now, display the first five rows:

In [ ]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

## Step 2: Create a Pivot Table Using the `pd.pivot_table()` Method
- Pass the data and index on which we need to pivot it.
- Here, data is `df` and the index is `city`.

In [ ]:
pd.pivot_table(df,index = ['city'])

,bathrooms,bedrooms,condition,floors,price,sqft_above,sqft_basement,sqft_living,sqft_lot,view,waterfront,yr_built,yr_renovated
city,,,,,,,,,,,,,
Algona,1.900000,3.200000,3.200000,1.400000,2.072880e+05,1608.600000,0.000000,1608.600000,11494.200000,0.000000,0.000000,1983.200000,800.400000
Auburn,2.092330,3.420455,3.409091,1.448864,2.993404e+05,1862.250000,157.329545,2019.579545,24999.221591,0.125000,0.000000,1980.795455,725.761364
Beaux Arts Village,1.750000,3.000000,4.000000,1.000000,7.450000e+05,1140.000000,350.000000,1490.000000,9800.000000,0.000000,0.000000,1947.000000,1988.000000
Bellevue,2.453671,3.804196,3.590909,1.398601,8.471807e+05,2182.604895,511.923077,2694.527972,13741.178322,0.391608,0.006993,1973.814685,823.517483
Black Diamond,1.750000,3.222222,3.222222,1.388889,3.396056e+05,1807.777778,55.555556,1863.333333,25006.666667,0.000000,0.000000,1978.666667,1107.333333
Bothell,2.431818,3.606061,3.151515,1.500000,4.814419e+05,1957.878788,361.515152,2319.393939,9060.181818,0.000000,0.000000,1982.696970,727.151515
Burien,1.746622,3.337838,3.554054,1.209459,3.489472e+05,1468.445946,346.891892,1815.337838,12158.554054,0.540541,0.040541,1957.351351,1183.945946
Carnation,2.170455,3.090909,3.090909,1.522727,5.087520e+05,2205.181818,187.272727,2392.454545,64873.772727,0.318182,0.000000,1982.818182,727.318182
Clyde Hill,2.613636,4.181818,3.545455,1.181818,1.321945e+06,2522.727273,1098.181818,3620.909091,19633.909091,0.818182,0.000000,1964.454545,1092.000000
Covington,1.970930,3.325581,3.651163,1.348837,2.962304e+05,1648.837209,143.720930,1792.558140,12122.976744,0.000000,0.000000,1984.651163,558.116279
Des Moines,1.862069,3.241379,3.482759,1.250000,3.049925e+05,1509.517241,303.103448,1812.620690,10517.706897,0.689655,0.034483,1964.689655,1137.051724
Duvall,2.267857,3.380952,3.071429,1.642857,4.039941e+05,2010.833333,150.714286,2161.547619,45446.357143,0.000000,0.000000,1991.333333,520.166667
Enumclaw,1.758929,3.178571,3.928571,1.303571,3.076146e+05,1823.928571,98.571429,1922.500000,93430.392857,0.607143,0.000000,1968.250000,355.250000
Fall City,2.568182,3.818182,3.272727,1.363636,6.926818e+05,2611.818182,254.090909,2865.909091,91681.363636,0.272727,0.000000,1972.636364,909.727273
Federal Way,2.108108,3.500000,3.432432,1.344595,2.898877e+05,1775.108108,279.006757,2054.114865,11455.209459,0.175676,0.006757,1978.189189,688.324324
Inglewood-Finn Hill,2.000000,4.000000,5.000000,1.000000,4.250000e+05,1520.000000,0.000000,1520.000000,7983.000000,0.000000,0.000000,1967.000000,0.000000
Issaquah,2.593583,3.561497,3.310160,1.799465,5.961637e+05,2122.695187,336.149733,2458.844920,24724.074866,0.090909,0.005348,1992.716578,405.802139
Kenmore,2.196970,3.560606,3.378788,1.484848,4.474940e+05,1792.045455,318.484848,2110.530303,12902.696970,0.106061,0.000000,1979.363636,695.393939
Kent,2.139189,3.459459,3.518919,1.454054,4.394924e+05,1770.135135,211.135135,1981.270270,15156.924324,0.032432,0.000000,1982.108108,497.135135
Kirkland,2.327540,3.540107,3.491979,1.459893,6.515836e+05,1955.149733,304.331551,2259.481283,10317.705882,0.165775,0.005348,1979.385027,662.919786
Lake Forest Park,2.270833,3.750000,3.416667,1.250000,4.484750e+05,1798.611111,484.444444,2283.055556,12138.472222,0.333333,0.000000,1965.500000,1276.611111
Maple Valley,2.346354,3.489583,3.166667,1.796875,3.364749e+05,2049.270833,36.770833,2086.041667,13730.354167,0.041667,0.000000,1996.447917,457.239583
Medina,3.045455,4.090909,3.454545,1.636364,2.046559e+06,3420.000000,683.636364,4103.636364,20626.181818,0.454545,0.000000,1972.454545,1089.000000
Mercer Island,2.834302,4.116279,3.790698,1.598837,1.123818e+06,2623.151163,652.162791,3275.313953,14654.302326,0.848837,0.058140,1972.720930,672.651163
Milton,1.750000,3.000000,4.000000,1.000000,2.850000e+05,1255.000000,0.000000,1255.000000,10150.000000,0.000000,0.000000,1983.000000,0.000000
Newcastle,2.515152,3.757576,3.696970,1.727273,6.660467e+05,2599.696970,89.393939,2689.090909,10934.939394,0.000000,0.000000,1989.424242,237.696970
Normandy Park,2.013889,3.444444,3.888889,1.055556,5.067931e+05,1717.722222,375.555556,2093.277778,13441.277778,0.777778,0.055556,1960.722222,1107.722222
North Bend,2.200000,3.300000,3.320000,1.570000,3.995657e+05,1879.200000,116.200000,1995.400000,32053.680000,0.220000,0.000000,1983.280000,909.700000
Pacific,1.958333,3.333333,3.166667,1.333333,2.252333e+05,1520.833333,0.000000,1520.833333,9159.166667,0.000000,0.000000,1993.333333,335.666667
Preston,2.375000,2.500000,4.500000,1.750000,5.624500e+05,2205.000000,75.000000,2280.000000,116130.000000,0.000000,0.000000,1949.500000,994.000000
Ravensdale,2.035714,3.428571,3.142857,1.714286,5.140714e+05,2612.857143,0.000000,2612.857143,132017.142857,0.000000,0.000000,1986.000000,571.571429
Redmond,2.380851,3.421277,3.238298,1.563830,6.676495e+05,2288.655319,203.106383,2491.761702,23936.191489,0.055319,0.008511,1989.502128,526.676596
Renton,2.122014,3.481229,3.433447,1.482935,3.770410e+05,1890.699659,224.061433,2114.761092,14555.914676,0.136519,0.003413,1981.266212,733.716724
Sammamish,2.578571,3.725714,3.165714,1.768571,6.869176e+05,2664.062857,166.057143,2830.120000,16127.331429,0.194286,0.017143,1991.668571,696.685714
SeaTac,1.724138,3.275862,3.206897,1.189655,2.452906e+05,1435.275862,243.241379,1678.517241,11469.931034,0.172414,0.000000,1965.448276,896.344828
Seattle,1.962174,3.169739,3.523204,1.530833,5.798375e+05,1437.729816,390.893833,1828.623649,5326.625556,0.297521,0.002543,1952.338843,992.223776
Shoreline,1.800813,3.308943,3.642276,1.219512,4.203924e+05,1489.552846,285.284553,1774.837398,9102.365854,0.227642,0.000000,1959.764228,1215.959350
Skykomish,1.666667,2.666667,3.333333,1.666667,2.330000e+05,1356.666667,0.000000,1356.666667,36042.000000,0.000000,0.000000,1963.333333,667.666667
Snoqualmie,2.633803,3.577465,3.028169,1.873239,5.363053e+05,2607.323944,108.732394,2716.056338,17616.535211,0.281690,0.000000,1999.633803,444.126761
Snoqualmie Pass,2.750000,3.000000,3.000000,2.000000,5.250000e+05,1510.000000,590.000000,2100.000000,10362.000000,0.000000,0.000000,1998.000000,2006.000000
Tukwila,1.663793,3.068966,3.034483,1.379310,3.082901e+05,1417.931034,288.275862,1706.206897,11494.758621,0.068966,0.000000,1956.413793,1241.655172
Vashon,1.853448,2.758621,3.586207,1.517241,4.725569e+05,1751.241379,138.448276,1889.689655,83760.517241,1.241379,0.241379,1964.965517,894.827586
Woodinville,2.378261,3.556522,3.382609,1.547826,6.095650e+05,2405.217391,257.791304,2663.008696,42377.417391,0.026087,0.000000,1982.704348,782.704348
Yarrow Point,1.937500,3.750000,3.750000,2.000000,1.194838e+06,2472.500000,0.000000,2472.500000,13373.000000,0.500000,0.000000,1965.750000,992.000000

**Observation:**
- The output displays a pivoted DataFrame based on the `city` column, with the mean value being the default aggregate function.

## Step 3: Create a Pivot Table by Passing Multiple Indexes

Now, let's create a pivot table with `city` and `date` as indexes.

In [ ]:
pd.pivot_table(df,index = ['city','date'])

                                  bathrooms  bedrooms  condition    floors  \
city         date
Algona       2014-05-07 00:00:00   1.000000  2.000000   3.000000  1.000000
             2014-05-08 00:00:00   1.750000  3.500000   3.500000  1.500000
             2014-05-09 00:00:00   3.000000  4.000000   3.000000  2.000000
             2014-05-30 00:00:00   2.000000  3.000000   3.000000  1.000000
Auburn       2014-05-02 00:00:00   2.437500  4.000000   3.000000  1.625000
...                                     ...       ...        ...       ...
Woodinville  2014-07-09 00:00:00   2.333333  3.333333   3.666667  1.333333
Yarrow Point 2014-05-13 00:00:00   2.250000  5.000000   4.000000  2.000000
             2014-06-01 00:00:00   2.000000  4.000000   4.000000  2.000000
             2014-06-04 00:00:00   2.500000  3.000000   3.000000  2.000000
             2014-06-23 00:00:00   1.000000  3.000000   4.000000  2.000000

                                         price   sqft_above  sqft_basement  \
city         date
Algona       2014-05-07 00:00:00  1.000000e+05   910.000000       0.000000
             2014-05-08 00:00:00  2.460000e+05  1705.000000       0.000000
             2014-05-09 00:00:00  2.480000e+05  2163.000000       0.000000
             2014-05-30 00:00:00  1.964400e+05  1560.000000       0.000000
Auburn       2014-05-02 00:00:00  3.740570e+05  2450.000000     332.500000
...                                        ...          ...            ...
Woodinville  2014-07-09 00:00:00  4.776667e+05  1833.333333     286.666667
Yarrow Point 2014-05-13 00:00:00  1.895000e+06  3120.000000       0.000000
             2014-06-01 00:00:00  8.435000e+04  2630.000000       0.000000
             2014-06-04 00:00:00  1.901000e+06  2660.000000       0.000000
             2014-06-23 00:00:00  8.990000e+05  1480.000000       0.000000

                                  sqft_living      sqft_lot  view  waterfront  \
city         date
Algona       2014-05-07 00:00:00        910.0  22000.000000   0.0         0.0
             2014-05-08 00:00:00       1705.0  11118.000000   0.0         0.0
             2014-05-09 00:00:00       2163.0   5883.000000   0.0         0.0
             2014-05-30 00:00:00       1560.0   7352.000000   0.0         0.0
Auburn       2014-05-02 00:00:00       2782.5  46241.000000   0.5         0.0
...                                       ...           ...   ...         ...
Woodinville  2014-07-09 00:00:00       2120.0   7556.333333   0.0         0.0
Yarrow Point 2014-05-13 00:00:00       3120.0  16672.000000   0.0         0.0
             2014-06-01 00:00:00       2630.0  16475.000000   0.0         0.0
             2014-06-04 00:00:00       2660.0  13367.000000   2.0         0.0
             2014-06-23 00:00:00       1480.0   6978.000000   0.0         0.0

                                     yr_built  yr_renovated
city         date
Algona       2014-05-07 00:00:00  1956.000000   2001.000000
             2014-05-08 00:00:00  1981.000000   1000.500000
             2014-05-09 00:00:00  2006.000000      0.000000
             2014-05-30 00:00:00  1992.000000      0.000000
Auburn       2014-05-02 00:00:00  1982.750000   1502.750000
...                                       ...           ...
Woodinville  2014-07-09 00:00:00  1977.666667   1333.666667
Yarrow Point 2014-05-13 00:00:00  1969.000000      0.000000
             2014-06-01 00:00:00  1953.000000   1983.000000
             2014-06-04 00:00:00  1992.000000      0.000000
             2014-06-23 00:00:00  1949.000000   1985.000000

[1209 rows x 13 columns]


**Observation:**
- The output is pivoted first on city and then on date, with the mean value as the aggregate function.

## Step 4: Create a Pivot Table Using the Custom Aggregate Function

First, import the NumPy library.

In [ ]:
import numpy as np

Then, create a pivot table with `city` and `date` as indexes and change the aggregate function from `mean` to `max`.

In [ ]:
pd.pivot_table(df,index = ['city','date'],aggfunc = np.max)

                                  bathrooms  bedrooms  condition country  \
city         date
Algona       2014-05-07 00:00:00       1.00       2.0          3     USA
             2014-05-08 00:00:00       2.50       4.0          4     USA
             2014-05-09 00:00:00       3.00       4.0          3     USA
             2014-05-30 00:00:00       2.00       3.0          3     USA
Auburn       2014-05-02 00:00:00       3.00       4.0          3     USA
...                                     ...       ...        ...     ...
Woodinville  2014-07-09 00:00:00       2.50       4.0          4     USA
Yarrow Point 2014-05-13 00:00:00       2.25       5.0          4     USA
             2014-06-01 00:00:00       2.00       4.0          4     USA
             2014-06-04 00:00:00       2.50       3.0          3     USA
             2014-06-23 00:00:00       1.00       3.0          4     USA

                                  floors      price  sqft_above  \
city         date
Algona       2014-05-07 00:00:00     1.0   100000.0         910
             2014-05-08 00:00:00     2.0   262000.0        2020
             2014-05-09 00:00:00     2.0   248000.0        2163
             2014-05-30 00:00:00     1.0   196440.0        1560
Auburn       2014-05-02 00:00:00     2.0   491500.0        3110
...                                  ...        ...         ...
Woodinville  2014-07-09 00:00:00     2.0   565000.0        2500
Yarrow Point 2014-05-13 00:00:00     2.0  1895000.0        3120
             2014-06-01 00:00:00     2.0    84350.0        2630
             2014-06-04 00:00:00     2.0  1901000.0        2660
             2014-06-23 00:00:00     2.0   899000.0        1480

                                  sqft_basement  sqft_living  sqft_lot  \
city         date
Algona       2014-05-07 00:00:00              0          910     22000
             2014-05-08 00:00:00              0         2020     16000
             2014-05-09 00:00:00              0         2163      5883
             2014-05-30 00:00:00              0         1560      7352
Auburn       2014-05-02 00:00:00           1330         3630    125452
...                                         ...          ...       ...
Woodinville  2014-07-09 00:00:00            860         2500      8400
Yarrow Point 2014-05-13 00:00:00              0         3120     16672
             2014-06-01 00:00:00              0         2630     16475
             2014-06-04 00:00:00              0         2660     13367
             2014-06-23 00:00:00              0         1480      6978

                                  statezip                street  view  \
city         date
Algona       2014-05-07 00:00:00  WA 98001    138 Seattle Blvd S     0
             2014-05-08 00:00:00  WA 98001       434 Pullman Ave     0
             2014-05-09 00:00:00  WA 98001  429 Milwaukee Blvd S     0
             2014-05-30 00:00:00  WA 98001           130 Main St     0
Auburn       2014-05-02 00:00:00  WA 98092       5214 S 292nd St     2
...                                    ...                   ...   ...
Woodinville  2014-07-09 00:00:00  WA 98072  Brooktrails Trail 14     0
Yarrow Point 2014-05-13 00:00:00  WA 98004       9045 NE 40th Pl     0
             2014-06-01 00:00:00  WA 98004       9033 NE 32nd St     0
             2014-06-04 00:00:00  WA 98004      4612 92nd Ave NE     2
             2014-06-23 00:00:00  WA 98004      4432 92nd Ave NE     0

                                  waterfront  yr_built  yr_renovated
city         date
Algona       2014-05-07 00:00:00           0      1956          2001
             2014-05-08 00:00:00           0      2002          2001
             2014-05-09 00:00:00           0      2006             0
             2014-05-30 00:00:00           0      1992             0
Auburn       2014-05-02 00:00:00           0      1997          2014
...                                      ...       ...           ...
Woodinville  2014-07-09 00:00:00           0      1990          2009
Yarrow Point 2014-05-13 00:00:00           0      1969             0
             2014-06-01 00:00:00           0      1953          1983
             2014-06-04 00:00:00           0      1992             0
             2014-06-23 00:00:00           0      1949          1985

[1209 rows x 16 columns]

**Observation:**
- The output is pivoted first on city and then on date, with the maximum value as the aggregate function.


**Note:** This pivot on multiple indexes is similar to the `groupby` function in pandas, where you can group by multiple indexes.

## Step 5: Performing Pivoting with the Pandas `groupy` Function 

Now, use the groupby method to group data with `city` and `date` as indexes:

In [ ]:
df.groupby(['city','date']).max()